{% extends "network/layout.html" %}
{% load static %}
{% block body %}

    {% if user.is_authenticated %}
        <div class="new_post">
            <h3> New Post </h3>
            <form>
                <textarea required id="content" name="new_post" rows="3" placeholder="type here"></textarea>
                <input type="button" id="submit_new" name="new" value="Post">
            </form>
        </div>
    {% endif %}

    <h3> All Posts </h3>
    <div class="all_posts" id="all_posts">
    </div>

    <nav class="pagination-container">
        <button class="pagination-button" id="prev-button" title="Previous page" aria-label="Previous page">&lt;</button>

        <div id="pagination-numbers"></div>

        <button class="pagination-button" id="next-button" title="Next page" aria-label="Next page">&gt;</button>      
    </nav>

    <script src="{% static 'network/all_posts.js' %}"></script>
    <script src="{% static 'network/pagination.js' %}"></script>

{% endblock %}

