{% extends "network/layout.html" %}
{% load static %}
{% block body %}

    <h5 style="display:inline-block;">Page profile of: </h5> <h2 style="display: inline-block;" id="profile_name">{{ name }}</h2>

    {% if name != username %}
        <div id="profile_data" class="hidden"></div>
        <!---<button id ="follow_button" style="float: right; margin-right: 10%; display: none;"></button>--->
    {% endif %}
    <div id="follow"></div>
    <hr>
    
    <h3> All Posts of {{ name }} </h3>
    <div class="contenido">
        <div class="all_posts" id="all_posts"></div>
    </div>

    <nav class="my-pagination-container hidden" id = "pagination-nav">
        <button class="my-pagination-button" id="prev-button" title="Previous page" aria-label="Previous page">&lt;</button>

        <div id="pagination-numbers"></div>

        <button class="my-pagination-button" id="next-button" title="Next page" aria-label="Next page">&gt;</button>      
    </nav>

<!---   *** Pagination with Bootstrap ***

    <nav class ="sticky-bottom d-none" id = "pagination-nav">
        <ul class="pagination justify-content-center" id="buttons-list"></ul>
    </nav>
-->
    <script src="{% static 'network/profile.js' %}"></script>
    <script src="{% static 'network/pagination.js' %}"></script>
    <script src="{% static 'network/edit_post.js' %}"></script>
    <script src="{% static 'network/like.js' %}"></script>
    <script src="{% static 'network/show_posts.js' %}"></script>

{% endblock %}