{% extends "network/layout.html" %}
{% load static %}
{% block body %}

    <h5 style="display:inline-block;">Page profile of: </h5> <h2 style="display: inline-block;" id="profile_name">{{ name }}</h2>

    {% if name != username %}
        <button id ="follow_button" style="float: right; margin-right: 10%; display: none;"></button>
    {% endif %}
    <div id="follow"></div>
    <hr>
    <h3> All Posts of {{ name }} </h3>
    <div class="all_posts" id="all_posts">
    </div>

    <nav class="pagination-container hidden" id = "pagination-nav">
        <button class="pagination-button" id="prev-button" title="Previous page" aria-label="Previous page">&lt;</button>

        <div id="pagination-numbers"></div>

        <button class="pagination-button" id="next-button" title="Next page" aria-label="Next page">&gt;</button>      
    </nav>

    <script src="{% static 'network/profile.js' %}"></script>
    <script src="{% static 'network/pagination.js' %}"></script>

{% endblock %}