
{% extends "auctions/layout.html" %}

{% block body %}
<div style="margin: 0; background-color: rgb(233, 218, 149); width: 400px; padding: 3px;">
    <form action="{% url 'ad' ad.pk %}" method="post">
        {% csrf_token %}
        <span> 
            {% if watched %} 
            You are watching this listing
            {% else %}
                You are not watching this listing
            {% endif %}
            <input type="submit" name="click" value="Change it">
        </span>
    </form>
</div>

{% if can_close %}
    <div style="margin: 0; background-color: rgb(240, 94, 94); width: 400px; padding: 3px;">
        <form action action="{% url 'ad' ad.pk %}" method="post">
            {% csrf_token %}
            <span>
                Click to close de auction
                <input type="submit" name="click" value="Close">
            </span>
        </form>
    </div>
{% endif %}

<h2>{{ ad.title }}</h2>
    <div class="ad2">
        <p> {{ ad.description }} </p>

        {% if ad.actual_price == 0 %} 
            <h4> The starting price is: {{ ad.start_bid }}</h4>
            <h6> {{ msn }} </h6>
            <form action="{% url 'ad' ad.pk %}" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" name="click" value="BID">
            </form>
        {% else %}
            <h4> The actual price is: {{ ad.actual_price }} €</h4>
            <h6> {{ msn }} </h6>
            <form action="{% url 'ad' ad.pk %}" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" name="click" value="BID">
            </form>

        {% endif %}

        {% if ad.cat %} 
            <p>category: {{ ad.cat }} </p>
        {% endif %}
        <img src= "{{ ad.image }}" onerror="this.style.display='none'" alt="image of {{ ad.title }}" height="30%" width="70%"> 
    </div>

    <!--  Comments -->

<div style="width: 400px;">
    <div >
        <div style="background-color: rgb(129, 197, 253); margin-bottom: 2px; padding: 3px;">
            <h4>You can comment... </h4>
            <h6> {{ user }} says:</h6>
            <form action="{% url 'ad' ad.pk %}" method="post">
                {% csrf_token %}
                <textarea required name="newcomment" rows="3" cols="50" maxlength=200 placeholder="write here" style="resize: none;"></textarea>
                <input type="submit" name="click" value="Send">
            </form>
        </div>
    </div>

    <div>
        {% for comment in comments %}
            <div style="background-color: rgb(133, 241, 241); margin-bottom: 2px; padding: 3px;">
                <span>
                    <h6> {{ comment.user }} said:</h6>
                    <textarea readonly maxlength=200 cols="50" style="resize: none;"> {{ comment.content }} </textarea>
                </span>
            </div>
        {% endfor %}
    </div>
</div>



{% endblock %}