
{% extends "auctions/layout.html" %}

{% block body %}

        <div class="ad2">
            <h2>{{ ad.title }}</h2>
            <p> {{ ad.description }} </p>
            {% if ad.actual_price == 0 %}
                <h6> Starting price: {{ ad.start_bid }} €</h6>
            {% else %}
                <h6> Actual price: {{ ad.actual_price }} €</h6>
            {% endif %}
            {% if ad.cat %} 
                <p>category: {{ ad.cat }} </p>
            {% endif %}
            <img src= "{{ ad.image }}" onerror="this.style.display='none'" alt="image of {{ ad.title }}" height="30%" width="70%"> 
        </div>
        <div class="ad2" style="text-align: center">
            <h5> If want to bid you must log in </h5>
        </div>
    
{% endblock %}